@import '@/styles/common/globals.scss';

.header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  min-height: 120px;
  max-height: 120px;
  align-items: center;

  .wrapper {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

    .container {
      display: flex;

      .logo {
        min-width: 92px;
        min-height: auto;
      }    

      .Link {
        margin-left: 40px;

        .LowTitle {
          font-family: $font_1_regular;
          font-size: $paragraphSmall_textsize_desktop;
          color: $colorSecondary_1;
        }
      }
    }

    .SecondContainer {
      display: flex;
      align-items: center;

      .ContainerButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 300ms ease-in-out;

        &:hover {
          .ButtonArrow {
            transform: rotate(180deg);
          }

          .BoxContainer,
          .Box {
            display: flex;
          }
        }

        .ButtonLabel {
          font-family: $font_1_regular;
          margin-right: 11px;
          color: white;
          font-size: $paragraphSmall_textsize_desktop;
        }

        .ButtonArrow {
          transition: all 200ms ease;
        }

        .ButtononMobile {
          transition: all 200ms ease;
        }
      }
    }
  }
}

.language {
  z-index: 1000;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  10% {
    transform: translateY(-50%);
  }

  20% {
    transform: translateY(-25%);
  }

  55% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(0%);
  }
}

.ContainerMobile {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  z-index: 999;
  animation: slideDown 0.6s ease-in-out forwards;
  display: flex;
  flex-direction: column;

  .Mobile {
    margin-left: 30px;
    margin-top: 40px;

    .LogoMobile {
      min-width: 100px;
      min-height: 35px;
      margin-bottom: 30px;
    }

    .LinkMobile {
      margin-bottom: 30px;

      .LowTitleMobile {
        font-family: $font_1_regular;
        font-size: $h5_textsize_mobile;
        color: $colorSecondary_1;
      }
    }
  }
}

.ContainerMobile {
  display: none;
}

@media screen and (max-width: 1180px) {
  .LinkLabelChoice,
  .Link,
  .ContainerButton,
  .ButtonLabel {
    display: none;
  }

  .ButtonLogoMobile{
    width: 40px;
    height: 40px;
    background-color: $colorGreyscale_1;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .language {
    width: 40px;
    height: 40px;
    background-color: $colorGreyscale_1;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .container {
    margin-left: 30px;
  }

  .SecondContainer {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1180px) {
  .ContainerButtonMobile,
  .LinkMobile,
  .EaqualMobile,
  .ButtonLogoMobile {
    display: none;
  }  

  .ContainerMobile {
    background-color: transparent;
  }

  .container {
    margin-left: 123px;
  }

  .SecondContainer {
    margin-right: 123px;
  }

  .ContainerButton {
    width: 144px;
    height: 40px;
    background-color: $colorSecondary_2;
    border-radius: 4px;

    &:hover {
      background-color: $colorSecondary_3;
    }
  }

  .language {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .BoxContainer {
    position: absolute;
    top: 100%;
    width: 170px;
    justify-content: center;
    
    .Box {
      transition: all 200ms ease;
      width: 144px;
      background-color: white;
      border-radius: 8px;
      padding: 7.5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      flex-direction: column;
      z-index: 998;
      margin-top: 10px;
      display: none;
      margin-bottom: 10px;
      
      .LinkLabelChoice {
        color: $colorSecondary_1;
        font-size: $paragraphSmall_textsize_desktop;
        font-family: $font_1_regular;
        margin-top: 1px;
        margin-bottom: 1px;
        padding-left: 7.5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
        
        &:hover {
          background-color: $colorGreyscale_1;
        }
      }
    }
  }
}