@import '@/styles/common/globals.scss';

.header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  strong {
    color: #C8C8FF;
  }

  em {
    color: #FFAAAA;
  }

  .wrapper {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1000;

    .container {
      display: flex;

      .logo {
        min-width: 92px;
        min-height: auto;
      }    

      .Link {
        margin-left: 40px;

        .LowTitle {
          font-family: $font_1_regular;
          font-size: $paragraphSmall_textsize_desktop;
          color: $colorSecondary_1;
          transition: all 300ms ease-in-out;

          &:hover {
            color: $colorSecondary_3;
          }
        }
      }
    }

    .SecondContainer {
      display: flex;
      align-items: center;

      .ContainerButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 300ms ease-in-out;

        &:hover {
          .ButtonArrow {
            transform: rotate(180deg);
          }

          .BoxContainer,
          .Box {
            display: flex;
          }
        }

        .ButtonLabel {
          font-family: $font_1_regular;
          margin-right: 11px;
          color: white;
          font-size: $paragraphSmall_textsize_desktop;
        }

        .ButtonArrow {
          transition: all 200ms ease;
        }

        .ButtononMobile {
          transition: all 200ms ease;
        }
      }
    }
  }
}

.language {
  z-index: 1000;
}

@keyframes slideDownd {
  0% {
    transform: translateY(-100%);
  }

  10% {
    transform: translateY(-50%);
  }

  20% {
    transform: translateY(-25%);
  }

  55% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(0%);
  }
}

.ContainerMobile {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  z-index: 999;
  animation: slideDownd 0.6s ease-in-out forwards;
  display: flex;
  flex-direction: column;

  .Mobile {
    margin-left: 30px;
    margin-top: 40px;

    .LogoMobile {
      min-width: 100px;
      min-height: 35px;
      margin-bottom: 30px;
    }

    .LinkMobile {
      margin-bottom: 30px;
      max-width: fit-content;

      .LowTitleMobile {
        font-family: $font_1_regular;
        font-size: $h6_textsize_mobile;
        color: $colorSecondary_1;
      }
    }

    .ContainerButton2 {
      display: flex;
      align-items: center;
      position: relative;
      transition: all 300ms ease-in-out;

      &:hover {
        .ButtonArrow {
          transform: rotate(180deg);
        }
      }

      .ButtonLabel2 {
        background-color: $colorSecondary_1;
        color: white;
        width: 100%;
        height: 40px;
        border-radius: 4px;
        font-family: $font_1_regular;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
      }

      .ButtonArrow2 {
        transition: all 200ms ease;
        margin-left: 10px;
      }
    }
  }
}

.ContainerMobile {
  display: none;
}

@media screen and (max-width: 1180px) {
  .header {
    min-height: 80px;
    max-height: 80px;
  }

  .fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    animation: slideUp 0.75s ease;
    background-color: white;
    border-bottom: solid 1px $colorGreyscale_3;
  }

  .LinkLabelChoice,
  .Link,
  .ContainerButton,
  .ButtonLabel {
    display: none;
  }

  .ButtonLogoMobile{
    width: 40px;
    height: 40px;
    background-color: $colorGreyscale_1;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin-right: -15px;
    margin-left: 6px;
  }

  .language {
    width: 40px;
    height: 40px;
    background-color: $colorGreyscale_1;
    border-radius: 4px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: -10px;
  }

  .container {
    margin-left: 30px;
  }

  .SecondContainer {
    margin-right: 30px;
  }

  .BoxContainerMobile {
    position: absolute;
    top: 100%;
    width: 100%;
    justify-content: center;
    transition: all 300ms ease-in-out;
    
    .BoxMobile {
      transition: all 200ms ease;
      background-color: white;
      border-radius: 8px;
      padding: 7.5px;
      flex-direction: column;
      z-index: 998;
      margin-top: 10px;
      display: none;
      margin-bottom: 10px;
      width: 100%;
      
      .LinkLabelChoiceMobile {
        color: $colorSecondary_1;
        font-size: $paragraphMedium_textsize_desktop;
        font-family: $font_1_regular;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
        margin-right: 23px;
        padding-left: 10px;
        margin-left: -8px;
        
        &:hover {
          background-color: $colorGreyscale_1;
        }
      }
    }
  }
}

@media screen and (min-width: 1180px) {
  .header {
    min-height: 65px;
    max-height: 65px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .fixedHeader {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    z-index: 1000;
    animation: slideUp 0.75s ease;
    background-color: rgba(255, 255, 255, 0.25); 
    backdrop-filter: blur(10px); 
  }

  .ContainerButtonMobile,
  .LinkMobile,
  .EaqualMobile,
  .ButtonLogoMobile,
  .BoxContainermobile
  .ButtonLabel2,
  .ContainerMobile,
  .ContainerButton2,
  .ButtonLabel2 {
    display: none !important;
  }  

  .ContainerMobile {
    background-color: transparent;
  }

  .container {
    margin-left: 123px;
  }

  .SecondContainer {
    margin-right: 123px;
  }

  .ContainerButton {
    width: 144px;
    height: 40px;
    background-color: $colorSecondary_2;
    border-radius: 4px;

    &:hover {
      background-color: $colorSecondary_4;
    }
  }

  .language {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .BoxContainer {
    position: absolute;
    top: 100%;
    width: 170px;
    justify-content: center;
    
    .Box {
      transition: all 200ms ease;
      width: 144px;
      background-color: white;
      border-radius: 8px;
      padding: 7.5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      flex-direction: column;
      z-index: 998;
      margin-top: 10px;
      display: none;
      margin-bottom: 10px;
      
      .LinkLabelChoice {
        color: $colorSecondary_1;
        font-size: $paragraphSmall_textsize_desktop;
        font-family: $font_1_regular;
        margin-top: 1px;
        margin-bottom: 1px;
        padding-left: 7.5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
        
        &:hover {
          background-color: $colorGreyscale_1;
        }
      }
    }
  }
}

.fixedHeader.noAnimation {
  animation: none;
}


.slideUp {
  animation: slideUp 0.75s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.homepage {
  margin-top: 100px;
}