@import "../footer.module.scss";

.footer_v5 {
  .top {
    display: flex;
    gap: calcGrid(2);
    margin-bottom: 40px;
    .container_main {
      @include styleResponsive("wider-mobile") {
        width: calcGrid(2, 1);
      }
      display: flex;
      flex-direction: column;
      gap: 24px;
      .container_logo {
        img {
          height: 55px;
          width: auto;
        }
      }
      .baseline {
        @include styleP("medium", $color: $colorGreyscale_2);
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        // .button {
        //   @include styleA("medium", $color: $colorGreyscale_6);
        // }
        // .button_primary {
        //   transition: 0.25s ease all;
        //   background-color: $colorPrimary_2;
        //   &:hover {
        //     background-color: $colorPrimary_1;
        //   }
        // }
        // .button_secondary {
        //   background-color: $colorPrimary_1;
        //   transition: 0.25s ease all;
        //   &:hover {
        //     background-color: $colorPrimary_2;
        //   }
        // }
      }
      .container_notes {
        display: flex;
        .note {
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding: 0 16px;
          border-right: 1px solid $colorGreyscale_4;
          .stars {
            display: flex;
            gap: 4px;
            svg {
              height: 14px;
              aspect-ratio: 1/1;
              fill: none;
              path {
                fill: $colorPrimary_2;
              }
            }
          }
          .note_label {
            @include styleP("small", $font: $font_1_bold);
          }
          &:first-of-type {
            padding-left: 0;
          }
          &:last-of-type {
            padding-right: 0;
            border-right: none;
          }
        }
      }
    }
    .container_lists {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 64px;
    }
    .container_lists {
      flex: 1;
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }
  }
  .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-top: 1px solid $colorGreyscale_4;
  }

  @include styleResponsive("tablet") {
    .top {
      gap: calcGrid(1);
    }
  }

  @include styleResponsive {
    .top {
      flex-direction: column;
      gap: 40px;
      margin-bottom: 0;
      .container_main {
        padding: 0 16px;
        .baseline {
          text-align: center;
        }
        ul {
          .button {
            width: 100%;
          }
        }
        .container_notes {
          justify-content: center;
        }
      }
      .container_logo {
        display: flex;
        justify-content: center;
      }
      .container_lists {
        gap: 0;
        .container_sitemap {
          .list {
            &:first-of-type {
              padding-top: 24px;
            }
          }
          &:first-of-type {
            .list {
              &:first-of-type {
                border-top: 1px solid $colorGreyscale_4;
              }
            }
          }
          &:last-of-type {
            .list {
              &:first-of-type {
                border-top: 0;
              }
              &:last-of-type {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
    .foot {
      flex-direction: column;
      padding-top: 0;
    }
  }
}
