@import "@/styles/common/globals.scss";

.global_container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    font-family: $font_1_regular;
    color: #3C1441;
    margin-bottom: 120px;

    .left_container {
        margin-left: 120px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .categorie_date_container {
            display: flex;
            font-size: 14px;
            align-items: center;

            .categorie_name {
                background-color: #C8C8FF;
                padding: 8px;
                border-radius: 16px;
                font-family: $font_1_bold;
            }

            .point {
                margin-left: 8px;
                margin-right: 8px;
                margin-top: -6px;
            }
        }

        .title {
            font-size: 56px;
            width: 592px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .description {
            font-size: 18px;
            width: 592px;
        }
    }

    .right_container {
        margin-right: 120px;
        margin-top: 30px;
    }
}