@import '@/styles/common/globals.scss';

.wrapper {
    margin-left: auto;
    margin-right: auto;

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    .container {
        margin-left: 8px;
        margin-right: 8px;
        background-color: $colorGreyscale_1;
        border-radius: 16px;

        .TopContainer {
            display: flex;

            .WrapperTopContainer {
                display: flex;
                flex-direction: column;
                margin-left: 5px;

                .title {
                    font-family: $font_2;
                    color: $colorSecondary_2;
                }

                .paragraph {
                    font-family: $font_1_regular;
                    font-size: $h6_textsize_desktop;
                    color: $colorSecondary_2;
                    margin-top: 40px;
                    margin-bottom: 40px;
                }

                .Button {
                    width: fit-content;
                    height: fit-content; 
                    border: solid 1px $colorSecondary_2;    
                    border-radius: 4px;         
                    color: $colorSecondary_2;
                    font-family: $font_1_regular;
                    font-size: $paragraphMedium_textsize_desktop;
                    transition: all 300ms ease-in-out;

                    &:hover {
                        background-color: $colorGreyscale_8;
                    }
                }
            }

            .picture {
                margin-right: 5px;
            }
        }

        .BottomContainer {
            display: flex;
            justify-content: center;

            .FirstContainer {
                display: flex;
                margin-right: 24px;

                .FCPictureContainer {
                    min-width: 40px;
                    min-height: 40px;
                    max-width: 40px;
                    max-height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color:#FFAAAA;
                    border-radius: 8px;
                    margin-right: 16px;
                }

                .FCTitle {
                    color: $colorSecondary_2;
                    font-family: $font_1_regular;
                    font-size: $paragraphMedium_textsize_desktop;
                    margin-bottom: 8px;
                }

                .FCParagraph {
                    color: $colorSecondary_2;
                    font-family: $font_1_regular;
                    font-size: $paragraphMedium_textsize_desktop;
                }
            }

            .SecondContainer {
                display: flex;
                margin-right: 24px;

                .SCPictureContainer {
                    min-width: 40px;
                    min-height: 40px;
                    max-width: 40px;
                    max-height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color:#C8C8FF;
                    border-radius: 8px;
                    margin-right: 16px;
                }

                .SCTitle {
                    color: $colorSecondary_2;
                    font-family: $font_1_regular;
                    font-size: $paragraphMedium_textsize_desktop;
                    margin-bottom: 8px;
                }

                .SCParagraph {
                    color: $colorSecondary_2;
                    font-family: $font_1_regular;
                    font-size: $paragraphMedium_textsize_desktop;
                }
            }

            .ThirdContainer {
                display: flex;
                margin-right: 24px;

                .TCPictureContainer {
                    min-width: 40px;
                    min-height: 40px;
                    max-width: 40px;
                    max-height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color:white;
                    border-radius: 8px;
                    margin-right: 16px;
                }

                .TCTitle {
                    color: $colorSecondary_2;
                    font-family: $font_1_regular;
                    font-size: $paragraphMedium_textsize_desktop;
                    margin-bottom: 8px;
                }

                .TCParagraph {
                    color: $colorSecondary_2;
                    font-family: $font_1_regular;
                    font-size: $paragraphMedium_textsize_desktop;
                }
            }
        }
    }
}

@media screen and (min-width: $breakPoint_mobile) {
    .picture {
        margin-top: 120px;
    }

    .Button {
        padding: 16px 32px;
    }

    .WrapperTopContainer {
        margin-top: 120px;
    }

    .TopContainer {
        justify-content: center;
        margin-bottom: 72px;
    }

    .FirstContainer,
    .SecondContainer {
        border-right: solid 1px $colorSecondary_2;
    }

    .FirstContainer,
    .SecondContainer,
    .ThirdContainer {
        width: 376px;
    }

    .BottomContainer {
        padding-top: 72px;
        padding-bottom: 120px;
    }

    .title {
        font-size: $h1_textsize_mobile;
    }
}

@media screen and (max-width: $breakPoint_mobile) {
    .TopContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 40px;
    }

    .SecondContainer,
    .FirstContainer,
    .ThirdContainer {
       width: 300px;
    }

    .Button { 
        min-height: 55px; 
        min-width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .WrapperTopContainer {
        margin-top: 40px;
    }

    .picture {
        margin-right: 16px;
        margin-left: -3px;
        margin-top: 0px;
        margin-top: 40px;
        max-width: auto;
        max-height: 225px;
    }

    .BottomContainer {
        flex-direction: column;
        padding-bottom: 40px;
        margin-left: 24px;
        align-items: center;
    }

    .FirstContainer,
    .SecondContainer {
        margin-bottom: 24px;
    }

    .title {
        font-size: $h2_textsize_mobile;
    }
}

@media screen and (min-width: 1400px) {
    .WrapperTopContainer {
        margin-right: 130px;
    }
}

@media screen and (max-width: 1400px) {
    .WrapperTopContainer {
        margin-right: 50px;
    }
}