@import "../footer.module.scss";

.footer_v3 {
  .top {
    gap: calcGrid(1, 1);
    .container_form {
      @include styleGrid(4);
      .container_title {
        margin-bottom: 12px;
        h3 {
          @include styleP("big", $font: $font_1_bold);
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .container_form_top {
          display: flex;
          gap: 8px;
          .container_input {
            position: relative;
            input {
              padding: 10px 10px 10px 40px;
              border-radius: 8px;
              border: 1px solid $colorGreyscale_3;
              @include styleP("small");
              transition: 0.25s ease all;
              background-color: $colorGreyscale_5;
              &::placeholder {
                @include styleP("small", $color: $colorGreyscale_2);
              }
            }
            svg {
              position: absolute;
              left: 16px;
              top: 50%;
              transform: translateY(-50%);
              width: 16px;
              aspect-ratio: 1/1;
              fill: none;
              stroke: $colorGreyscale_1;
              stroke-width: 1.5;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
            &.focus {
              border: 1px solid $colorGreyscale_1;
            }
            &.style_disabled {
              input[type="email"] {
                pointer-events: none;
                border: 1px solid $colorGreyscale_4;
                @include styleP("small", $color: $colorGreyscale_4);
              }
              svg {
                stroke: $colorGreyscale_4;
              }
            }
            &.valid {
              input[type="email"] {
                border: 1px solid $colorSuccess;
                @include styleP("small", $color: $colorGreyscale_3);
              }
              svg {
                stroke: $colorSuccess;
              }
            }
            &.error {
              input[type="email"] {
                border: 1px solid $colorError;
                @include styleP("small", $color: $colorGreyscale_3);
              }
              svg {
                stroke: $colorError;
              }
            }
          }
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            padding: 0 24px;
            border-radius: 8px;
            @include styleA("small", $color: $colorGreyscale_6);
            text-wrap: nowrap;
          }
          .button_primary {
            transition: 0.25s ease all;
            background-color: $colorPrimary_2;
            &:hover {
              background-color: $colorPrimary_1;
            }
          }
          .button_secondary {
            background-color: $colorPrimary_1;
            transition: 0.25s ease all;
            &:hover {
              background-color: $colorPrimary_2;
            }
          }
        }
        .container_checkbox {
          display: flex;
          gap: 8px;
          @include styleP("tiny", $color: $colorGreyscale_2);
          .container_input {
            position: relative;
            height: 16px;
            aspect-ratio: 1/1;
            input[type="checkbox"] {
              position: absolute;
              height: 100%;
              width: 100%;
              z-index: 1;
              border: 1px solid $colorGreyscale_4;
              border-radius: 3px;
              &:checked {
                & ~ svg {
                  opacity: 1;
                }
              }
            }
            svg {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              fill: none;
              transition: 0.5s ease all;
              path {
                stroke: $colorGreyscale_6;
                stroke-width: 1.2;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
            }
          }
          .underline {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    @include styleResponsive("wider-mobile") {
      margin-top: 40px;
      border-top: 1px solid $colorGreyscale_4;
    }
    .container_logo {
      img {
        width: 72px;
        height: 55px;
      }
    }
  }

  @include styleResponsive("tablet") {
    .top {
      gap: calcGrid(1, 0);
      .container_form {
        width: calcGrid(3);
        form {
          .container_form_top {
            flex-direction: column;
            .container_input input,
            .button {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @include styleResponsive {
    .top {
      flex-direction: column;
      gap: 24px;
      .container_form {
        width: 100%;
        padding: 0 16px;
        form {
          .container_form_top {
            flex-direction: column;
            .container_input input,
            .button {
              width: 100%;
            }
          }
        }
      }
    }
    .foot {
      flex-direction: column;
      padding: 0;
      border-top: 1px solid $colorGreyscale_4;
      .container_logo {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 24px 0;
        border-top: 1px solid $colorGreyscale_4;
      }
    }
  }
}
