@import "@/styles/common/globals.scss";

.footer_v2 {
  padding: 72px 0 0;
  .wrapper {
    @include styleResponsive("wider-mobile") {
      @include styleGrid();
    }
  }
  .top {
    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 16px;
    }
    .container_logo {
      margin-bottom: 8px;
      a {
        img {
          height: 54px;
          width: 71px;
        }
      }
    }
    .container_links {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @container section (width >= #{$breakPoint_mobile}) {
          gap: 40px;
        }
        li {
          a {
            @include styleP("small", $color: $colorGreyscale_2);
            transition: color 0.25s ease;
          }
          @include styleHover {
            a {
              color: $colorGreyscale_1;
            }
          }
        }
      }
    }
    .container_actions {
      .wrapper_responsive {
        @include styleResponsive("wider-mobile") {
          display: flex;
          gap: 24px;
        }
      }
      .container_follow {
        .container_el {
          display: flex;
          align-items: center;
          gap: 16px;
          .el {
            height: 14px;
            svg {
              height: 100%;
              .fill_1 {
                fill: $colorPrimary_1;
              }
              .fill_2 {
                fill: $colorGreyscale_6;
              }
            }
          }
        }
      }
    }
  }
  .bottom {
    margin-top: 40px;
    padding: 8px 0;
    background-color: $colorGreyscale_5;
    @include styleResponsive("wider-mobile") {
    }

    .wrapper {
      display: flex;
      justify-content: center;
      gap: 16px;
    }
    .copyright {
      @include styleP("tiny");
    }
    a {
      @include styleP("tiny");
    }
  }

  @include styleResponsive {
    .top {
      .wrapper {
        flex-direction: column;
        gap: 24px;
        .container_logo {
          margin-bottom: 0;
        }
        .container_links {
          @include styleGrid();
          ul {
            flex-direction: column;
            gap: 16px;
          }
        }
        .container_actions {
          justify-content: space-between;
          width: 100%;
          padding: 24px 0;
          border-bottom: 1px solid $colorGreyscale_4;
          border-top: 1px solid $colorGreyscale_4;
          order: 1;
          .wrapper_responsive {
            @include styleGrid;
            display: flex;
            justify-content: center;
            gap: 24px;
          }
        }
      }
    }
    .bottom {
      margin-top: 0;
      padding: 24px 0;
      .wrapper {
        @include styleGrid();
        flex-wrap: wrap;
        padding: 0;
        gap: 24px;
      }
    }
  }
}
