@import "../footer.module.scss";

.footer_v2 {
  .top {
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    .container_logo {
      margin-bottom: 24px;
      a {
        img {
          height: 54px;
          width: 71px;
        }
      }
    }
    .container_sitemap {
      margin-bottom: 16px;
    }
  }
  .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px 0;
    background-color: $colorGreyscale_5;
    @include styleResponsive("wider-mobile") {
    }
  }
  @include styleResponsive {
    .top {
      margin-bottom: 0;
      .container_sitemap {
        margin-bottom: 24px;
      }
      .container_join_us {
        border-top: 1px solid $colorGreyscale_4;
      }
    }
    .foot {
      flex-direction: column;
      gap: 0;
      padding: 0;
    }
  }
}
