@import "@/styles/common/globals.scss";

.footer_v2 {
  padding: 40px 0;
  .wrapper {
    @include styleResponsive("wider-mobile") {
      @include styleGrid();
    }
  }
  .container {
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
    .container_logo {
      margin-bottom: 8px;
      a {
        img {
          height: 54px;
          width: 71px;
        }
      }
    }
    .container_links {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @container section (width >= #{$breakPoint_mobile}) {
          gap: 40px;
        }
        li {
          a {
            @include styleP("small", $color: $colorGreyscale_2);
            transition: color 0.25s ease;
          }
          @include styleHover {
            a {
              color: $colorGreyscale_1;
            }
          }
        }
      }
    }
    .container_actions {
      position: relative;

      .wrapper_responsive {
        @include styleResponsive("wider-mobile") {
          display: flex;
          gap: 24px;
        }
      }
      .container_follow {
        display: flex;
        align-items: center;
        gap: 16px;
        .title {
          @include styleP("small", $font: $font_1_bold);
        }
        .container_el {
          display: flex;
          align-items: center;
          gap: 16px;
          .el {
            height: 14px;
            svg {
              height: 100%;
              .fill_1 {
                fill: $colorPrimary_1;
              }
              .fill_2 {
                fill: $colorGreyscale_6;
              }
            }
          }
        }
      }
      details {
        position: relative;
        summary {
          padding: 0 12px;
          height: 32px;
          border-radius: 8px;
          background-color: $colorGreyscale_5;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          &::marker {
            content: "";
          }
          &::-webkit-details-marker {
            display: none;
          }
          .title {
            flex: 1;
            @include styleP("tiny");
          }
          svg {
            width: 8px;
            stroke-width: 1px;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: $colorGreyscale_1;
            transition: transform 0.25s ease;
          }
        }
        .dropdown {
          border-radius: 8px;

          position: absolute;
          bottom: calc(100% + 8px);
          width: 100%;
          background-color: $colorGreyscale_5;
          ul {
            list-style: none;
            display: flex;
            flex-direction: column;

            li {
              cursor: pointer;

              a {
                display: block;
                border-radius: 8px;
                padding: 8px 8px;
                @include styleP("tiny");
                transition: background-color 0.25s ease;
              }
              @include styleHover {
                a {
                  background-color: $colorGreyscale_4;
                }
              }
            }
          }
        }
        &[open] summary {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .foot {
    margin-top: 24px;
    background-color: $colorGreyscale_5;
    @include styleResponsive("wider-mobile") {
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
      gap: 16px;
    }
    .copyright {
      @include styleP("tiny");
    }
    a {
      @include styleP("tiny");
    }
  }

  @include styleResponsive {
    .container {
      .wrapper {
        flex-direction: column;
        gap: 24px;
        .container_logo {
          margin-bottom: 0;
        }
        .container_links {
          @include styleGrid();
          ul {
            flex-direction: column;
            gap: 24px;
          }
        }
        .container_actions {
          padding: 24px 0;
          order: 1;
          width: 100%;
          justify-content: space-between;
          border-bottom: 1px solid $colorGreyscale_4;
          border-top: 1px solid $colorGreyscale_4;
          .wrapper_responsive {
            @include styleGrid;
            display: flex;
            gap: 24px;
            justify-content: center;
          }
        }
      }
    }
    .foot {
      margin-top: 0;
      padding: 24px 0;
      .wrapper {
        @include styleGrid();
        flex-wrap: wrap;
        padding: 0;
      }
    }
  }
}
