@import "../footer.module.scss";

.footer_default {
  .head {
    .container_logo {
      display: flex;
      align-items: center;
      width: calcGrid(2);
      a {
        img {
          height: 54px;
          width: 71px;
        }
      }
    }
  }
  .foot {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include styleResponsive("wider-mobile") {
      margin-top: 40px;
      border-top: 1px solid $colorGreyscale_4;
    }
  }

  @include styleResponsive {
    .head {
      flex-direction: column;
      .container_logo {
        justify-content: center;
        width: 100%;
        margin-bottom: 24px;
        a {
          img {
            height: 54px;
            width: 71px;
          }
        }
      }
    }
    .foot {
      flex-direction: column;
    }
  }
}
