@import "@/styles/common/globals.scss";

.footer_default {
  padding-top: 72px;
  border-top: 1px solid $colorGreyscale_4;
  .wrapper {
    @include styleGrid();
  }
  .head {
    display: flex;
    .container_logo {
      display: flex;
      align-items: center;
      width: calcGrid(2);
      a {
        img {
          height: 54px;
          width: 71px;
        }
      }
    }
  }
  .foot {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include styleResponsive('desktop') {
      margin-top: 40px;
      border-top: 1px solid $colorGreyscale_4;
    }
    .container_copyright {
      display: flex;
      span {
        @include styleP('tiny', $color: $colorGreyscale_2);
      }
    }
    .container_links {
      display: flex;
      gap: 16px;
      a {
        @include styleP('tiny', $color: $colorGreyscale_2);
      }
    }
  }
  .container_sitemap:has(ul) {
    ul {
      display: flex;
      @include styleResponsive('wider-mobile') {
        gap: 40px;
      }
      li {
        a:not([class]) {
          @include styleP('small', $color: $colorGreyscale_2);
          transition: all 0.5s ease;
        }
        @include styleHover {
          a {
            color: $colorGreyscale_1;
          }
        }
      }
    }
  }
  .container_sitemap:has(.list) {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex: 1;
    .list {
      .container_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        pointer-events: none;
        h3 {
          @include styleP('big', $font: $font_1_bold);
        }
        .container_arrow {
          @include styleResponsive('wider-mobile') {
            display: none;
          }
          svg {
            fill: none;
            path {
              fill: $colorGreyscale_6;
              fill-rule: evenodd;
              clip-rule: evenodd;
            }
          }
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        li {
          a:not([class]) {
            @include styleP('small', $color: $colorGreyscale_2);
            transition: color 0.25s ease;
          }
          @include styleHover() {
            a {
              color: $colorGreyscale_1;
            }
          }
        }
      }
    }
  }
  .container_join_us {
    display: flex;
    align-items: center;
    .container_title_sn {
      display: flex;
      .container_title {
        margin-right: 16px;
        span {
          @include styleP('small', $font: $font_1_bold);
        }
      }
      .container_sn {
        display: flex;
        align-items: center;
        gap: 20px;
        .sn {
          height: 14px;
          svg {
            height: 100%;
            fill: none;
            .fill_1 {
              fill: $colorPrimary_1;
            }
            .fill_2 {
              fill: $colorGreyscale_6;
            }
          }
        }
      }
    }
    details {
      position: relative;
      margin-left: 24px;
      summary {
        padding: 0 12px;
        height: 32px;
        border-radius: 8px;
        background-color: $colorGreyscale_5;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        &::marker {
          content: '';
        }
        &::-webkit-details-marker {
          display: none;
        }
        .title {
          flex: 1;
          @include styleP('tiny');
        }
        svg {
          width: 10px;
          height: 6px;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke: $colorGreyscale_1;
          fill: none;
          transition: transform 0.25s ease;
        }
      }
      .dropdown {
        position: absolute;
        width: 100%;
        border-radius: 8px;
        bottom: calc(100% + 8px);
        background-color: $colorGreyscale_5;
        ul {
          display: flex;
          flex-direction: column;
          list-style: none;

          li {
            cursor: pointer;

            a {
              display: block;
              border-radius: 8px;
              padding: 8px 8px;
              @include styleP('tiny');
              transition: background-color 0.25s ease;
            }
            @include styleHover {
              a {
                background-color: $colorGreyscale_4;
              }
            }
          }
        }
      }
      &[open] summary {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  @include styleResponsive {
    padding-top: 40px;
    .head {
      margin-bottom: 24px;
      flex-direction: column;
      .container_logo {
        justify-content: center;
        width: 100%;
        margin-bottom: 24px;
        a {
          img {
            height: 54px;
            width: 71px;
          }
        }
      }
    }
    .foot {
      flex-direction: column;
      .container_copyright {
        order: 2;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 24px;
        margin-bottom: 24px;
        span {
          @include styleP("tiny", $color: $colorGreyscale_2);
        }
      }
      .container_links {
        order: 3;
        display: flex;
        justify-content: center;
        gap: 16px;
        width: 100%;
        padding-bottom: 24px;
        a {
          @include styleP("tiny", $color: $colorGreyscale_2);
        }
      }
      .container_logo {
        order: 4;
      }
    }
    .container_sitemap:has(ul) {
      ul {
        flex-direction: column;
        gap: 16px;
      }
    }
    .container_sitemap:has(.list) {
      flex-direction: column;
      gap: 0;
      .list {
        padding: 24px 0;
        border-bottom: 1px solid $colorGreyscale_4;
        .container_title {
          pointer-events: all;
          cursor: pointer;
          margin-bottom: 0;
          .container_arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 20px;
            width: 20px;
            transform: rotate(0deg);
            border-radius: 50%;
            background-color: $colorGreyscale_1;
            svg {
              width: 9px;
              transition: transform 0.25s ease;
            }
          }
        }
        &:first-of-type {
          padding: 0 0 24px;
        }

        details {
          .container_arrow {
            transition: 0.5s ease all;
          }
          &[open] {
            .container_arrow {
              transform: rotate(180deg);
              transition: 0.5s ease all;
            }
          }
        }
        ul {
          @include styleGrid();
          margin-top: 24px;
          li {
            .button {
              border-radius: 8px;
            }
          }
        }
        form {
          padding: 0 16px;
          .container_input {
            flex-direction: column;
            .form_mail {
              padding: 10px 10px 10px 40px;
              border-radius: 8px;
              border: 1px solid $colorGreyscale_3;
              color: $colorGreyscale_2;
              width: auto;
            }
          }
          .container_checkbox {
            display: flex;
            gap: 8px;
            font-size: $paragraphTiny_textsize_desktop;
            color: $colorGreyscale_2;
            .underline {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .container_join_us {
      // Need to be space between when
      // details exist
      // center when
      // details don't exist
      order: 1;
      justify-content: center;
      width: 100%;
      padding: 24px 16px;
      border-bottom: 1px solid $colorGreyscale_4;
    }
  }
}
