@import '@/styles/common/globals.scss';

.FooterContainer {
    display: flex;

    .title {
        margin-bottom: 25px;
        font-family: $font_1_bold;
        font-size: $paragraphSmall_textsize_desktop;
        color: $colorSecondary_1;
    }

    .description {
        font-family: $font_1_regular;
        font-size: $paragraphSmall_textsize_desktop;
        color: $colorSecondary_1;
        width: 100%;
        
        .LinkInContainer {
            margin-bottom: 8px;
            max-width: fit-content;
        }
    }
}

@media screen and (max-width: 1180px) {
    .FooterContainer {
        flex-basis: 50%;
        box-sizing: border-box;
        margin-bottom: 30px;
        align-items: flex-start;
    }
}