@import '@/styles/common/globals.scss';

.footer_default {
  padding: 40px 0 24px;
  .wrapper {
    @media (width > $breakPoint_mobile) {
      @include styleGrid();
    }
  }
  .container {
    display: flex;
    width: 100%;
    .container_logo {
      @media (width > $breakPoint_mobile) {
        width: calcGrid(2, 1);
      }

      img {
        width: 72px;
        height: 55px;
        border: 1px solid red;
      }
    }
    .container_list {
      flex: 1;
      display: flex;
      justify-content: space-between;
      .list {
        .container_title {
          display: flex;
          align-items: center;
          margin-bottom: 24px;
          justify-content: space-between;

          h3 {
            @include styleP('big', $font: $font_1_bold);
          }

          .container_arrow {
            @media (width > $breakPoint_mobile) {
              display: none;
            }
          }
        }
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 16px;
          li {
            a {
              @include styleP('small', $color: $colorGreyscale_2);
              transition: color 0.25s ease;
            }
            &:hover {
              a {
                color: $colorGreyscale_1;
              }
            }
          }
        }
      }
    }
  }
  .foot {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (width > $breakPoint_mobile) {
      margin-top: 40px;
      border-top: 1px solid $colorGreyscale_4;
    }
    .copyright {
      @include styleP('tiny', $color: $colorGreyscale_2);
    }
    .container_legals {
      display: flex;
      align-items: center;
      gap: 16px;
      a {
        @include styleP('tiny', $color: $colorGreyscale_2);
      }
    }
    .container_actions {
      position: relative;

      .wrapper_responsive {
        @media (width > $breakPoint_mobile) {
          display: flex;
          gap: 24px;
        }
      }
      .container_follow {
        display: flex;
        align-items: center;
        gap: 16px;
        .title {
          @include styleP('small', $font: $font_1_bold);
        }
        .container_el {
          display: flex;
          align-items: center;
          gap: 16px;
          .el {
            height: 14px;
            svg {
              height: 100%;
              .fill_1 {
                fill: $colorPrimary_1;
              }
              .fill_2 {
                fill: $colorGreyscale_6;
              }
            }
          }
        }
      }
      details {
        position: relative;
        summary {
          padding: 0 12px;
          height: 32px;
          border-radius: 8px;
          background-color: $colorGreyscale_5;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          &::marker {
            content: '';
          }
          .title {
            flex: 1;
            @include styleP('tiny');
          }
          svg {
            width: 8px;
            stroke-width: 1px;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: $colorGreyscale_1;
            transition: transform 0.25s ease;
          }
        }
        .dropdown {
          border-radius: 8px;

          position: absolute;
          bottom: calc(100% + 8px);
          width: 100%;
          background-color: $colorGreyscale_5;
          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            li {
              cursor: pointer;

              a {
                display: block;
                border-radius: 8px;
                padding: 8px 8px;
                @include styleP('tiny');
                transition: background-color 0.25s ease;
              }
              &:hover {
                a {
                  background-color: $colorGreyscale_4;
                }
              }
            }
          }
        }
        &[open] summary {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

@media (width <= $breakPoint_mobile) {
  .footer_default {
    .container {
      flex-direction: column;
      .container_logo {
        display: flex;
        justify-content: center;
      }
      .container_list {
        flex-direction: column;
        .list {
          padding: 24px 0;
          border-bottom: 1px solid $colorGreyscale_4;
          .container_title {
            cursor: pointer;
            @include styleGrid();
            .container_arrow {
              transform: rotate(0deg);
              height: 20px;
              width: 20px;
              border-radius: 50%;
              background-color: $colorGreyscale_1;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;

              svg {
                width: 9px;
                transition: transform 0.25s ease;
              }
            }
          }
          ul {
            @include styleGrid();
          }
        }
      }
    }
    .foot {
      flex-direction: column;
      .copyright {
        order: 2;
      }
      .container_legals {
        order: 3;
      }
      .container_actions {
        padding-bottom: 24px;
        margin-bottom: 24px;
        order: 1;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid $colorGreyscale_4;
        .wrapper_responsive {
          @include styleGrid;
          display: flex;
          gap: 24px;
          justify-content: space-between;
        }
      }
      .copyright {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
      }
    }
  }
}

.footer_v1 {
  padding: 40px 0;
  .wrapper {
    @media (width > $breakPoint_mobile) {
      @include styleGrid();
    }
  }
  .container {
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .container_logo {
      a {
        img {
          height: 54px;
          width: 71px;
          border: 1px solid red;
        }
      }
    }
    .container_links {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (width > $breakPoint_mobile) {
          gap: 30px;
        }
        li {
          a {
            @include styleP('small', $color: $colorGreyscale_2);
            transition: color 0.25s ease;
          }
          &:hover {
            a {
              color: $colorGreyscale_1;
            }
          }
        }
      }
    }
    .container_actions {
      position: relative;

      .wrapper_responsive {
        @media (width > $breakPoint_mobile) {
          display: flex;
          gap: 24px;
        }
      }
      .container_follow {
        display: flex;
        align-items: center;
        gap: 16px;
        .title {
          @include styleP('small', $font: $font_1_bold);
        }
        .container_el {
          display: flex;
          align-items: center;
          gap: 16px;
          .el {
            height: 14px;
            svg {
              height: 100%;
              .fill_1 {
                fill: $colorPrimary_1;
              }
              .fill_2 {
                fill: $colorGreyscale_6;
              }
            }
          }
        }
      }
      details {
        position: relative;
        summary {
          padding: 0 12px;
          height: 32px;
          border-radius: 8px;
          background-color: $colorGreyscale_5;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          &::marker {
            content: '';
          }
          .title {
            flex: 1;
            @include styleP('tiny');
          }
          svg {
            width: 8px;
            stroke-width: 1px;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: $colorGreyscale_1;
            transition: transform 0.25s ease;
          }
        }
        .dropdown {
          border-radius: 8px;

          position: absolute;
          bottom: calc(100% + 8px);
          width: 100%;
          background-color: $colorGreyscale_5;
          ul {
            list-style: none;
            display: flex;
            flex-direction: column;

            li {
              cursor: pointer;

              a {
                display: block;
                border-radius: 8px;
                padding: 8px 8px;
                @include styleP('tiny');
                transition: background-color 0.25s ease;
              }
              &:hover {
                a {
                  background-color: $colorGreyscale_4;
                }
              }
            }
          }
        }
        &[open] summary {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .foot {
    margin-top: 24px;
    @media (width > $breakPoint_mobile) {
      background-color: $colorGreyscale_5;
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
      gap: 16px;
    }
    .copyright {
      @include styleP('tiny');
    }
    a {
      @include styleP('tiny');
    }
  }
}

@media (width <= $breakPoint_mobile) {
  .footer_v1 {
    .container {
      .wrapper {
        flex-direction: column;
        .container_links {
          @include styleGrid();
          margin-top: 32px;
          ul {
            flex-direction: column;
            gap: 24px;
          }
        }
        .container_actions {
          padding: 24px 0;
          margin-top: 24px;
          order: 1;
          width: 100%;
          justify-content: space-between;
          border-bottom: 1px solid $colorGreyscale_4;
          border-top: 1px solid $colorGreyscale_4;
          .wrapper_responsive {
            @include styleGrid;
            display: flex;
            gap: 24px;
            justify-content: space-between;
          }
        }
      }
    }
    .foot {
      .wrapper {
        @include styleGrid();
        flex-wrap: wrap;
      }
    }
  }
}
