@import "../footer.module.scss";

.footer_v4 {
  .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    @include styleResponsive("wider-mobile") {
      margin-top: 40px;
      border-top: 1px solid $colorGreyscale_4;
    }
    .container_logo {
      img {
        width: 72px;
        height: 55px;
      }
    }
  }
}
@include styleResponsive {
  .footer_v4 {
    .container_sitemap {
      .list {
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
    .top {
      margin-bottom: 0;
    }
    .foot {
      flex-direction: column;
      padding: 0;
      border-top: 1px solid $colorGreyscale_4;
      .container_logo {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 24px 0;
        border-top: 1px solid $colorGreyscale_4;
      }
    }
  }
}
