@import "@/styles/common/globals.scss";

.footer_v4 {
  padding: 40px 0 24px;
  .wrapper {
    @include styleResponsive("wider-mobile") {
      @include styleGrid();
    }
  }
  .top {
    display: flex;
    width: 100%;
    .container_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      pointer-events: none;
      h3 {
        @include styleP("big", $font: $font_1_bold);
      }
      .container_arrow {
        @include styleResponsive("wider-mobile") {
          display: none;
        }
        svg {
          fill: none;
          .fill_path {
            fill: $colorGreyscale_6;
            fill-rule: evenodd;
            clip-rule: evenodd;
          }
        }
      }
    }
    .container_list {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      flex: 1;
      .list {
        ul {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-top: 24px;
          list-style: none;
          li {
            a {
              @include styleP("small", $color: $colorGreyscale_2);
              transition: color 0.25s ease;
            }
            @include styleHover() {
              a {
                color: $colorGreyscale_1;
              }
            }
            .button {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 50px;
              padding: 0 32px;
              border-radius: 8px;
              @include styleA("medium", $color: $colorGreyscale_6);
              text-wrap: nowrap;
            }
            .button_primary {
              transition: 0.25s ease all;
              background-color: $colorPrimary_2;
              &:hover {
                background-color: $colorPrimary_1;
              }
            }
            .button_secondary {
              background-color: $colorPrimary_1;
              transition: 0.25s ease all;
              &:hover {
                background-color: $colorPrimary_2;
              }
            }
          }
        }
      }
    }
  }
  .bottom {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include styleResponsive("wider-mobile") {
      margin-top: 40px;
      border-top: 1px solid $colorGreyscale_4;
    }
    .container_logo {
      @include styleResponsive("wider-mobile") {
        width: calcGrid(2, 1);
      }
      img {
        width: 72px;
        height: 55px;
      }
    }
    .policy {
      display: flex;
      gap: 16px;
      .copyright {
        @include styleP("tiny", $color: $colorGreyscale_2);
      }
      .container_legals {
        display: flex;
        align-items: center;
        gap: 16px;
        a {
          @include styleP("tiny", $color: $colorGreyscale_2);
          transition: color 0.25s ease;
          @include styleHover {
            color: $colorGreyscale_1;
          }
        }
      }
    }
    .container_actions {
      position: relative;

      .wrapper_responsive {
        @include styleResponsive("wider-mobile") {
          display: flex;
          gap: 24px;
        }
      }
      .container_follow {
        display: flex;
        align-items: center;
        gap: 16px;
        .title {
          @include styleP("small", $font: $font_1_bold);
        }
        .container_el {
          display: flex;
          align-items: center;
          gap: 16px;
          .el {
            height: 14px;
            svg {
              height: 100%;
              transition: opacity 0.25s ease;
              .fill_1 {
                fill: $colorPrimary_1;
              }
              .fill_2 {
                fill: $colorGreyscale_6;
              }
            }
            @include styleHover {
              svg {
                opacity: 0.7;
              }
            }
          }
        }
      }
      details {
        position: relative;
        summary {
          padding: 0 12px;
          height: 32px;
          border-radius: 8px;
          background-color: $colorGreyscale_5;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          &::marker {
            content: "";
          }
          &::-webkit-details-marker {
            display: none;
          }
          .title {
            flex: 1;
            @include styleP("tiny");
          }
          svg {
            width: 8px;
            stroke-width: 1px;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: $colorGreyscale_1;
            transition: transform 0.25s ease;
          }
        }
        .dropdown {
          border-radius: 8px;

          position: absolute;
          bottom: calc(100% + 8px);
          width: 100%;
          background-color: $colorGreyscale_5;
          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            li {
              cursor: pointer;

              a {
                display: block;
                border-radius: 8px;
                padding: 8px 8px;
                @include styleP("tiny");
                transition: background-color 0.25s ease;
              }
              @include styleHover {
                a {
                  background-color: $colorGreyscale_4;
                }
              }
            }
          }
        }
        &[open] summary {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  @include styleResponsive {
    .top {
      flex-direction: column;
      .container_title {
        pointer-events: all;
        cursor: pointer;
        @include styleGrid();
        .container_arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          height: 20px;
          width: 20px;
          transform: rotate(0deg);
          border-radius: 50%;
          background-color: $colorGreyscale_1;
          svg {
            width: 9px;
            transition: transform 0.25s ease;
          }
        }
      }
      .container_list {
        flex-direction: column;
        .list {
          padding: 24px 0;
          border-bottom: 1px solid $colorGreyscale_4;
          &:first-of-type {
            padding: 0 0 24px;
          }
          ul {
            @include styleGrid();
            li {
              .button {
                border-radius: 8px;
                width: 100%;
              }
            }
          }
          details {
            &[open] {
              .container_arrow {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
    .bottom {
      flex-direction: column-reverse;
      padding: 40px 0 0;
      .policy {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 24px 0;
        border-bottom: 1px solid $colorGreyscale_4;
        .copyright {
          margin-bottom: 0;
          order: 2;
          width: 100%;
          text-align: center;
        }
        .container_legals {
          display: flex;
          flex-wrap: wrap;
          order: 3;
        }
      }
      .container_actions {
        padding-bottom: 24px;
        order: 1;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid $colorGreyscale_4;
        .wrapper_responsive {
          @include styleGrid;
          display: flex;
          gap: 24px;
          justify-content: space-between;
        }
      }

      .container_logo {
        padding: 24px 0 0;
      }
    }
  }
}
