@import "../footer.module.scss";

.footer_v1 {
  .head {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    .container_logo {
      margin-bottom: 24px;
      a {
        img {
          height: 54px;
          width: 71px;
        }
      }
    }
  }
  .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-top: 1px solid $colorGreyscale_4;
  }
  @include styleResponsive {
    .top {
      flex-direction: column;
      margin-bottom: 24px;
    }
    .foot {
      flex-direction: column;
      padding-top: 0;
    }
  }
}
