@import '@/styles/common/globals.scss';

.footer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  
    .wrapper {
      width: 1440px;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;

        .container {
            border-top: solid 1px #3C144166;
        
            .SecondContainer {
                display: flex;
                margin-top: 40px;
            
                .stoiklogo {
                    margin-right: 50px;
                    min-width: 92px;
                    min-height: auto;
                }

                .SliceZone {
                    display: flex;
                    white-space: nowrap;
                }
            }

            .LogoSection {
                display: flex;

                .ContainerForMargin {
                    margin-right: 10px;
                    
                    .LogoInSection {
                        background-color: $colorGreyscale_1;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        min-height: 30px;
                        max-height: 30px;
                        min-width: 30px;
                        max-width: 30px;
                        border-radius: 6px;
                        transition: all 300ms ease-in-out;
                        
                        &:hover {
                            background-color: $colorGreyscale_4;
                        }
                    }
                }
            }
            
            .ThirdContainer {
                display: flex;
                justify-content: space-between;

                .paragraph {
                    font-family: $font_1_regular;
                    font-size: $paragraphTiny_textsize_desktop;
                    color: $colorSecondary_1;
                    margin-right: 10px;
                    margin-bottom: 40px;
                }

                .logos {
                    margin-right: 126px;
                }
            }
        }
    }
}

@media screen and (max-width: 1180px) {
    .stoiklogo,
    .logos{
        display: none;
    }

    .SliceZone {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container {
        margin-left: 10px;
    }

    .stoiklogoMobile {
        display: flex;
        justify-content: center;
        border-top: solid 1px #3C144166;
        padding-top: 30px;
    }

    .StoikPicture {
        width: 120px;
        height: 35px;
    }

    .LogoSection {
        display: flex;
        justify-content: center;
    }

    .LogoSection {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
  
@media screen and (min-width: 1180px) {
    .SliceZone {
        justify-content: space-between;
        width: 80%;
        margin-right: 230px;
    }

    .container {
        margin-left: 124px;   
    }

    .StoiklogoMobile,
    .StoikPicture {
        display: none;
    }

    .LogoSection {
        margin-bottom: 40px;
        margin-top: -40px;
    }
}