@import '@/styles/common/globals.scss';

.section_brunotext_default {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

  .wrapper {
    width: 1440px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

    .title {
      margin-left: 124px;
      margin-right: 124px;
      margin-top: 20px;
      margin-bottom: 72px;
      font-size: $h1_textsize_desktop;
      color: $colorSecondary_2;
      font-family: $font_1_regular;
    }

    .container {
      margin-left: 124px;
      margin-right: 124px;
      display: flex;
      max-width: 1192px;
      justify-content: space-between;

      .text {
        max-width: 792px;
        color: $colorSecondary_2;
        font-family: $font_1_regular;
        margin-right: 30px;
        margin-bottom: 120px;
      }

      .LastUpdate {
        font-size: $paragraphSmall_textsize_desktop;
        color: $colorSecondary_2;
        font-family: $font_1_regular;
        min-width: 292px;
        border-bottom: solid 1px #3c144176;
        max-height: 36px;
      }
    }
  }
}

.h2 {
  font-size: $h1_textsize_mobile;
  margin-bottom: 40px;
  margin-top: 72px;
}

.h3 {
  font-size: $h5_textsize_desktop;
  margin-bottom: 24px;
  margin-top: 40px;
  font-family: $font_1_bold;
}

.paragraph {
  font-size: $h6_textsize_mobile;
}

.hyperlink {
  font-size: 50px;
}

.listItem {
  font-size: 18px;
}